<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login and register</title>
</head>

<body>
    <h1>
        LOGIN and REGISTER
    </h1>
    <hr>
    <h3>
        use any of the following pairs to login: {"stan": "sword", "joe": "win", "may": "spi"}
    </h3>
    <hr>
    <h2>LOGIN : </h2>
    <form action="/login" method="post">
        <label for="username">USERNAME : </label>
        <input type="text" name="username">
        <br>
        <label for="password">PASSWORD : </label>
        <input type="text" name="password">
        <br>
        <input type="submit" value="submit">
    </form>
    <hr>
    <h2>REGISTER : </h2>
    <form action="/regist" method="post">
        <label for="username">USERNAME : </label>
        <input type="text" name="username">
        <br>
        <label for="password">PASSWORD : </label>
        <input type="text" name="password">
        <br>
        <input type="submit" value="submit">
    </form>
</body>

</html>